---

---

<!-- FAQ Section -->
<section id="faqs" class=" dark:bg-[#F0F7F4]">
  <div class="mt-20 mb-20 max-w-3xl mx-auto px-6">
    <h3
      class="text-4xl font-bold text-center dark:text-[#1A3C34] mb-6"
    >
      Preguntas Frecuentes
    </h3>
    <div class="space-y-6">
      <div class=" dark:bg-[#6B9E86] rounded-lg p-6">
        <h4 class="font-semibold  dark:text-[#1A3C34] mb-2">
          ¿Tiene coste unirme a la beta?
        </h4>
        <p class=" dark:text-[#1A3C34]">
          No, la beta es completamente gratuita durante esta fase. Podrás
          acceder a todas las funcionalidades disponibles sin ningún coste.
        </p>
      </div>
      <div class=" dark:bg-[#6B9E86] rounded-lg p-6">
        <h4 class="font-semibold  dark:text-[#1A3C34] mb-2">
          ¿Qué gano participando?
        </h4>
        <p class=" dark:text-[#1A3C34]">
          Obtendrás acceso anticipado a nuevas funciones, soporte directo del
          equipo de desarrollo y beneficios exclusivos, incluyendo descuentos
          especiales cuando lancemos los planes oficiales.
        </p>
      </div>
      <div class=" dark:bg-[#6B9E86] rounded-lg p-6">
        <h4 class="font-semibold  dark:text-[#1A3C34] mb-2">
          ¿Cuándo habrá precios?
        </h4>
        <p class=" dark:text-[#1A3C34]">
          Los planes de pago llegarán después de la fase beta. Como participante
          beta, tendrás acceso a beneficios exclusivos y descuentos especiales
          en los futuros planes.
        </p>
      </div>
      <div class="flex justify-center mb-12">
      <button
          id="open-chat"
          class="relative bg-transparent text-[#6B9E86] px-8 py-4 rounded-lg text-lg font-semibold hover:shadow-xl transition-all transform hover:-translate-y-1 inline-flex items-center justify-center gap-2"
          style="border: 3px solid #6B9E86; background-image: linear-gradient(#F0F7F4, #F0F7F4),  background-origin: border-box; background-clip: padding-box, border-box;"
        >
        <img src="/icono-IA-SF.png" alt="IA" class="w-7 h-7" />
        Pregunta a Maingoo
      </button>
    </div>
    </div>
  </div>
</section>
